In [14]:
import pandas as pd
import numpy as np

In [15]:
movies = pd.read_csv('../Dateset/ml-latest-small/movies.csv')
ratings = pd.read_csv('../Dateset/ml-latest-small/ratings.csv')
tags = pd.read_csv('../Dateset/ml-latest-small/tags.csv')

In [16]:
print(movies.head(), '\n', ratings.head(), '\n', tags.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
    userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
    userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [17]:
ratings.drop(columns='timestamp', inplace=True)
tags.drop(columns='timestamp', inplace=True)
ratings_df = ratings.merge(tags, on=['movieId','userId'], how='left')

In [18]:
ratings_df.isnull().sum()

userId         0
movieId        0
rating         0
tag        99201
dtype: int64

In [19]:
ratings_df.fillna("untagged", inplace=True)

In [20]:
movies = movies.merge(ratings_df, on="movieId", how='left' )

In [21]:
movies.head()

,movieId,title,genres,userId,rating,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,untagged
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,untagged
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,untagged
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,untagged
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,untagged

   userId  movieId              tag
0       2    60756            funny
1       2    60756  Highly quotable
2       2    60756     will ferrell
3       2    89774     Boxing story
4       2    89774              MMA